extends layout

block content
	nav.navbar.navbar-default
		a.navbar-brand= title
		ul.nav.navbar-nav.navbar-right
			li
				img#art.track_info
				.track_info
					#track
					#album
					#artist
				.track_controls
					span#btBack.glyphicon.glyphicon-step-backward
					span#btPlay.glyphicon.glyphicon-pause
					span#btForward.glyphicon.glyphicon-step-forward

	.row
		.col-xs-2
			select#renderer.form-control
				option(value="eq") EQ
				option(value="circles") Circles
				
		.col-xs-4
			select#albums.form-control
				option(value="a2660305") Cherry Glazerr - Papa Cremp
				option(value="a171828") Radiohead - OK Computer
				option(value="a3506601") of Montreal - lousy with sylvianbriar

	#party_box
		svg
	#rdio_player